:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
  --footer-background-color: #222;
  --secondary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header {
  position: sticky;
  width: 100%;
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;

  .title a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-text-color);
  }
}



.nav-links {
  list-style: none;
  display: flex;

  & li {
    margin-left: 1rem;

    & a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: var(--secondary-color);
      border-radius: 5px;
    }
  }
}



.toggle_btn {
  color: #fff;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin: 0 25px;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);
}

.section:nth-child(even) {
  background-color: #eaeaea;
}

.about {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  justify-content: space-evenly;

  .about-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .about-text {
    max-width: 500px;

    h1 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
      font-size: larger
    }
  }
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-primary,
  .btn-secondary {
    margin: 0.5rem 0;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;

  }

  .btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
  }

  .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
  }

  .btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
  }

  .btn-secondary:hover {
    background-color: darken(var(--secondary-color), 10%);
  }


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-content {
    padding: 1rem;
    text-align: left;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      color: var(--primary-color);
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: var(--text-color);
    }

    .card-button {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--primary-color);
      color: var(--secondary-text-color);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(var(--primary-color), 10%);
      }
    }
  }
}

.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: var(--secondary-color);
  border-radius: calc(var(--line-w) / 2);
}

.timeline-item:not(:last-child) {
  margin-bottom: var(--row-gap);
}

.timeline-item {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.timeline-date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

.timeline-date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

.timeline-date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--background-color);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.timeline-title,
.timeline-descr {
  background: var(--background-color);
  position: relative;
  padding-inline: 1.5rem;
}

.timeline-title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}

.timeline-descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

.timeline-title::before,
.timeline-descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}

.timeline-title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline-descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);
}

.contact-container {
  display: flex;

  max-width: 1200px;
  width: 100%;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;

}

.contact-form h2 {
  margin-bottom: 1rem;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.contact-map {
  flex: 1;
  padding: 0;
  height: 100%;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--footer-background-color);

  li {
    margin: 0 1rem;

    a {
      color: var(--secondary-text-color);
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: color 0.3s;
    }

    a:hover {
      color: var(--secondary-color);
    }
  }
}

iframe{
  height: 500px;
  width: 100%;
}


/* Responsive */
@media (max-width: 768px) {


  .navbar {
      flex-direction: row;
  }

  .nav_links_container {
      display: none;
      width: 100%;
  }

  .nav_links_container.active {
      display: block;
  }

  .nav-links {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      li{
        padding: 1rem;
      }
  }

  .toggle_btn {
      display: block;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
    .about-photo {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: calc(100% - 40px);
    left: 20px;
  }

  .timeline-item.right {
    left: 20px;
  }


  .timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  
  .timeline::before {
    grid-column: 2;
  }

  .timeline-item:nth-child(odd) {
    grid-column: 1;
  }

  .timeline-item:nth-child(even) {
    grid-column: 3;
  }

  .timeline-item:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline-item:nth-child(odd) .timeline-date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline-item:nth-child(odd) .timeline-date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  .timeline-item:nth-child(odd) .timeline-date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }

  .contact-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    .contact-map{
      width: 100%;
      height: 200px;
    }

    .contact-form{
      width: 100%;
      height: 200px;
    }

  }

}

/* Pantallas muy grandes */
@media (min-width: 768px) {
  
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
}
